/**
 * @Name trac_contactsupportform
 * @Author Daniel Labonte, Traction on Demand
 * @Date June 12, 2019
 *
 * @Description trac_ContactSupportForm custom styles
 */
.header-message h1 {
    font: 22px helvetica, sans-serif;
}

.header-message span {
    font: 14px helvetica, sans-serif;
}

/*spinner positioning over component*/
.custom-container {
    position: relative;
}
.custom-content,
.slds-spinner_container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.slds-spinner_container {
    z-index: 10;
}
.custom-hidden {
    display: none;
}